{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".{huskyrc,lintstagedrc,versionrc}",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".{htmlhintrc,stylelintrc,markdownlintrc}",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer"
      }
    }
  ]
}
