# Compiled output
/dist
/tmp
.next

# Configuration file
.nvmrc
.npmrc
.yarnrc
.editorconfig
.gitignore
.eslintignore
.markdownlintignore
.prettierignore
.eslintcache
.stylelintignore

# Images
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 项目中的特定文件
/public/ajax/*
/public/api/*
/public/cnblogs_com/*
/public/css/*
/public/face/*
/public/group/*
/public/highlight/*
/public/images/*
/public/scripts/*
/public/skins/*
/public/user/*
src/pages/blog.html
src/pages/post.html

# Others
package.json
robots.txt
.DS_Store
.history
*.lock
LICENSE
