// menu
$navbar-item-color: $text-color !default;
$navbar-item-active-color: $primary !default;

$navbar-bg: $white !default;
$navbar-mask-bg: $white !default;

$navbar-item-active-border: $primary;
$navbar-toggler-border-color: $border-color-base !default;
$navbar-border-color: $border-color-base !default;

// sidebar
$sidebar-bg: $gray-800 !default;
$sidebar-hover-bg: $gray-900 !default;

// header
$header-title-color: $white !default;
$header-sub-title-color: $gray-600 !default;
$header-search-bg: $white !default;

$header-post-info-color: $white !default;
$header-post-info-tag-bg: $secondary !default;

// content
$content-title-color: $text-color !default;
$content-post-border-color: $gray-200 !default; // or #f0f0f0
$content-pagination-border-color: $border-color-base !default;

// footer
$footer-bg: $gray-900;
$footer-color: $white;
