// menu
$navbar-item-color: $text-color !default;
$navbar-item-active-color: $primary !default;

$navbar-bg: $white !default;
$navbar-mask-bg: $white !default;

$navbar-item-active-border: $primary;
$navbar-toggler-border-color: $border-color-base !default;
$navbar-border-color: $border-color-base !default;

// sidebar
$sidebar-color: $white !default;
$sidebar-title-color: $secondary;
$sidebar-bg: $gray-800 !default;
$sidebar-hover-bg: $gray-900 !default;
$sidebar-follow-border-color: $gray-700;

// header
$header-title-color: $white !default;
$header-sub-title-color: $gray-600 !default;
$header-search-bg: $white !default;

$header-post-info-color: $white !default;
$header-post-info-tag-bg: $secondary !default;

$header-footer-title-color: $gray-300;

// content(blog list)
$content-title-color: $text-color !default;
$content-post-border-color: $gray-200 !default; // or #f0f0f0
$content-pagination-border-color: $border-color-base !default;

// post
$post-code-bg: darken($gray-100, 3%); // or rgba(27, 31, 35, 0.05)
$post-hljs-code-bg: lighten($gray-100, 2%); // or #f6f8fa

$post-green-channel-wechat-bg: $green;
$post-green-channel-weibo-bg: $gray-200;
$post-green-channel-weibo-favorite: #ffb515;
$post-green-channel-weibo-follow: rgb(227 49 0);
$post-green-channel-weibo-digg: rgb(45 174 191);

// footer
$footer-bg: $gray-900;
$footer-color: $white;

// code
$code-border-color: $border-color-base; // or #e1e4e8
$code-copy-btn-border-color: $border-color-base; // or rgba(27, 31, 35, 0.15)
$code-line-number-color: $gray-500; // or rgba(27, 31, 35, 0.3)

// message
$message-bg: $white;
$message-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

// toolbar
$toolbar-bg: $white;
$toolbar-border-color: $border-color-base;
$toolbar-backtop-bg: $white;
$toolbar-backtop-color: $secondary;

// comment
$comment-divider-border-color: $border-color-base;
$comment-border-color: $border-color-base; // or #d1d5da
$comment-title-color: $gray-400;
$comment-title-link-color: darken(
  $color: $gray-500,
  $amount: 10%,
);
$comment-title-link-hover-color: $secondary;
$comment-title-bg: $gray-100; // or #f6f8fa
$comment-blockquote-color: $gray-500; // or #6a737d
$comment-blockquote-bg: $gray-100; // or #f7f7f7
$comment-blockquote-border-color: lighten($border-color-base, 6%); // or #dfe2e5
$comment-vote-link-color: $gray-500;
$comment-vote-link-hover-color: $secondary;
$comment-pager-color: $secondary;
$comment-pager-border-color: $border-color-base;
$comment-box-border-color: #ddd;
$comment-submit-btn-color: $white;
$comment-submit-btn-hover-color: $primary;
$comment-submit-btn-bg: $secondary;
$comment-submit-btn-border-color: $secondary;
