/* stylelint-disable selector-max-id, selector-class-pattern */

@import '../../styles/theme';

#main {
  padding-top: 3.125rem;
}

// 配合限制 .forFlow 的最大宽度
// #mainContent {
//   width: 100vw;
// }

.forFlow {
  width: 50%;
  // max-width: 46.875.rem;
  margin: 0 auto;
  padding-left: 1rem;
}

.topicListFooter {
  a {
    display: inline-block;
    min-width: 2rem;
    height: 2rem;
    padding: 0 0.375rem;
    line-height: 1.875rem;
    border: 1px solid $content-pagination-border-color;
  }
}

.day {
  margin-top: 3.125rem;
  // border-left: 1px solid #d9d9d9; // 构建时间线

  .dayTitle {
    margin-bottom: 1rem;
    margin-left: -1rem;
  }

  .postTitle {
    margin-bottom: 1rem;
    font-weight: $content-title-weight;
    font-size: $content-title-size;

    &:not(:nth-of-type(2)) {
      margin-top: 3.125rem;
    }

    a {
      color: $content-title-color;
    }
  }

  .postCon {
    margin-bottom: 1rem;
  }

  .postDesc {
    padding-bottom: 1rem;
    color: $muted-color;
    border-bottom: 1px solid $content-post-border-color;

    a {
      // 对看官来说编辑按钮存在的意义并不大，博主可以点击管理等方式进行编辑
      display: none;
    }
  }

  .c_b_p_desc_readmore {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease-in;

    &::after {
      position: absolute;
      top: 0;
      right: -0.625rem;
      content: '»';
    }

    &:hover {
      transform: translateX(0.2rem);
    }
  }
}

#nav_next_page {
  padding: 2rem;
  text-align: center;
}

// 页面头部分页器
#homepage_top_pager {
  display: none;
}

#homepage_bottom_pager {
  padding: 2rem;
}

@media (max-width: $media-down-breakpoint) {
  .forFlow {
    width: 100%;
    padding: 0 1rem;
  }
}
