/* stylelint-disable selector-max-id */

@import '../../styles/theme';

$header-prefix-cls: $prefix-cls + '-header';

#header {
  margin-top: $navbar-height;

  a {
    color: $header-title-color;
  }
}

#blogTitle {
  position: relative;
  height: 600px;
  padding: 16px;
  background-image: linear-gradient(#00c1de, #000),
    url('https://images.cnblogs.com/cnblogs_com/dongwanhong/1857964/o_201005115230landscape.jpeg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-blend-mode: lighten;

  h2 {
    color: $header-sub-title-color;
    font-style: italic;
  }
}

// 使用顶部导航栏中的搜索框
#zzk_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#zzk_search_input {
  width: 24rem;
  max-width: 90vw;
  padding: 1rem 2rem;
  background-color: $header-search-bg;
  border-width: 0;
  border-radius: 35px;
  outline: none;
}

#zzk_search_button {
  // position: absolute;
  // top: 10px;
  // right: 0;
  // width: 2rem;
  // height: 2rem;
  // background-color: transparent;
  // border-width: 0;
  // outline: none;
  display: none; // 隐藏搜索按钮
}

#top_nav {
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: flex; // 在 custom 主题下默认被添加的 .navbar-custom 所隐藏
  flex-direction: row;
  width: 80%;
  height: 100px;
  background-color: $gray-700;
  transform: translateX(-50%);
}

#navbar_login_status {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 5px;

  .navbar-anonymous {
    &:last-child {
      margin-right: 24px;
    }
  }
}

@media (max-width: $media-down-breakpoint) {
  #nav_main {
    justify-content: center;
  }

  #nav_left {
    display: none;
  }

  #nav_right {
    padding: 0;
  }
}
