/* stylelint-disable selector-max-id */

@import '../../styles/theme';

$header-prefix-cls: $prefix-cls + '-header';

#header {
  margin-top: $navbar-height;

  a {
    color: $header-title-color;
  }
}

#blogTitle {
  position: relative;
  height: 500px;
  padding: 16px;
  background-image: url('https://images.cnblogs.com/cnblogs_com/dongwanhong/1857964/o_201005041117lum3n--RBuQ2PK_L8-unsplash.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;

  h2 {
    color: $header-sub-title-color;
    font-style: italic;
  }

  // stylelint-disable-next-line selector-class-pattern
  .blogStats {
    position: absolute;
    bottom: 2.5rem;
    left: 8%;
    color: $muted-color;
    font-size: 12px;
  }
}

// 使用顶部导航栏中的搜索框
#zzk_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#zzk_search_input {
  width: 24rem;
  max-width: 90vw;
  padding: 1rem 2rem;
  background-color: $header-search-bg;
  border-width: 0;
  border-radius: 35px;
  outline: none;
}

#zzk_search_button {
  // position: absolute;
  // top: 10px;
  // right: 0;
  // width: 2rem;
  // height: 2rem;
  // background-color: transparent;
  // border-width: 0;
  // outline: none;
  display: none; // 隐藏搜索按钮
}
