@import '../../styles/theme';

$footer-height: 150px;

#footer {
  height: $footer-height;
  padding: ($footer-height - 40px) / 2 0;
  color: $footer-color;
  text-align: center;
  background-color: $footer-bg;
  background-image: linear-gradient(#00c1de, #000),
    url('#{$image-host}/cnblogs_com/dongwanhong/1857964/o_201006074439landscape-footer.jpeg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% $footer-height;
  background-attachment: fixed;
  background-blend-mode: lighten;
}
